DATABASE_URL=mysql+pymysql://root:@localhost/flask_ecommerce
JWT_SECRET_KEY=super_secret_jwt_key
JWT_ACCESS_TOKEN_EXPIRES_HOURS=5
UPLOAD_FOLDER=uploads
PUBLIC_BASE_URL=http://localhost:5000
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
